In [77]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [78]:
!where chromedriver

C:\Users\jocel\Documents\GitHub\web-scraping-challenge\chromedriver.exe

In [79]:
exec_path ={'executable_path': 'C:/Users/jocel/Documents/GitHub/web-scraping-challenge/chromedriver.exe'}
browser = Browser('chrome', **exec_path)

In [80]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)
html = browser.html
news_soup = bs(html,'html.parser')
element = news_soup.select_one('ul.item_list li.slide')
element.find("div", class_='news_title').get_text()

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
# Retrieve page with the requests module
#response = requests.get(url)
response = requests.get(url)

In [ ]:
# Create a Beautiful Soup object
#soup = bs(response.text,'html.parser')
soup = bs(response.text, 'html.parser')

In [ ]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())
print(soup.prettify())

In [81]:
# results are returned as an iterable list
results = soup.find_all('', class_="result-row")

In [82]:
# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of title - CORRECT HEADINGF NAME 
        title = result.find('a', class_="result-title").text
        # Identify and return price of listing
        price = result.a.span.text
        # Identify and return link to listing
        link = result.a['href']

        # Print results only if title, price, and link are available
        if (title and price and link):
            print('-------------')
            print(title)
            print(price)
            print(link)
    except AttributeError as e:
        print(e)

In [83]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.mars
posts = db.posts
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mars')

In [84]:
# Print all paragraph texts
paragraphs = soup.find_all('p')
for paragraph in paragraphs:
    print(paragraph.text)

Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASAâ€™s Science Mission Directorate

# JPL

In [85]:
# Scrap JPL with Splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [86]:
#JPL URL 
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [87]:
for x in range(1, 6):

    html = browser.html
    soup = bs(html, 'html.parser')

    quotes = soup.find_all('span', class_='text')

    for quote in quotes:
        print('page:', x, '-------------')
        print(quote.text)

    #browser.links.find_by_partial_text('Next')

In [88]:
featured_image_url= 'https://www.nasa.gov/multimedia/imagegallery/iotd.html'

In [89]:
# Iterate through all pages
for x in range(50):
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = bs(html, 'html.parser')
    # Retrieve all elements that contain book information
    articles = soup.find_all('img', class_='')

    # Iterate through each book ## Need correct tage and class, eg img, fix tags for specific site 
    for article in articles:
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        #h3 = article.find('h3')
        featured_image_url=('img')
        link = h3.find('a')
        href = link['href']
        title = link['title']
        print('-----------')
        print(title)
        print('https://www.nasa.gov/multimedia/imagegallery/index.html')

    # Click the 'Next' button on each page
    try:
        browser.click_link_by_partial_text('next')
          
    except:
        print("Scraping Complete")

NameError: name 'h3' is not defined

# Mars Facts

In [92]:
#url 
url = 'https://space-facts.com/mars/'

In [93]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 Â°C      -88 to 58Â°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [94]:
#type
type(tables)

list

In [95]:
#create df for Mars Data
mars_df = tables[0]
mars_df.columns = ['0', '1']
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
#convert DF to table 
html_table = mars_df.to_html()
html_table

In [ ]:
#clean up 
html_table.replace('\n', '')

In [ ]:
#save as HTML file 
mars_df.to_html('table.html')


# Mars Hemispheres